<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Listagem de Contas</title>
    </head>
    <body>
        <span>Lista de Contas</span>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Descrição da Conta</th>
                <th scope="col">Valor da Conta</th>
                <th scope="col">Data do Vencimento</th>
                <th scope="col">Data do Pagamento</th>
                <th scope="col">Está vencida</th>
                <th scope="col">Observação</th>
            </tr>
            </thead>
            <tbody>
                <tr data-th-each="recorrenteList : ${recorrenteList}">
                    <th scope="row">1</th>
                    <td data-th-text="${recorrentList.id}"></td>
                    <td data-th-text="${recorrentList.tituloDaConta}"></td>
                    <td data-th-text="${{recorrentList.dataVencimento}}"></td>
                    <td data-th-text="${{recorrentList.dataPagamento}}"></td>
                    <td data-th-text="${recorrentList.vencido}"></td>
                    <td data-th-text="${recorrentList.observacao}"></td>
                </tr>
            </tbody>
        </table>
    </body>
</html>