<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{assets/css/recorrente.css}">
    <title>Conta Mensal</title>
</head>
    <body>
        <form th:method="post" th:object="${recorrente}" modelAttribute="recorrente">
            <legend>Cadastro de Conta Mensal</legend>

            <div class="mb-3">
                <label for="inputTituloDaConta" class="form-label">Descrição</label>
                <input type="text" class="form-control" id="inputTituloDaConta" aria-describedby="emailHelp" name="tituloDaConta" th:field="*{tituloDaConta}">
                <div id="emailHelp" class="form-text"></div>
            </div>
            <div class="mb-3">
                <label for="inputValor" class="form-label">Valor da conta</label>
                <input type="number" class="form-control" id="inputValor" name="valorDaConta" th:field="*{valorDaConta}">
            </div>
            <div class="mb-3">
                <label for="inputDataDoVencimento" class="form-label">Data do Vencimento</label>
                <input type="text" class="form-control" id="inputDataDoVencimento" name="dataVencimento" th:field="*{dataVencimento}">
            </div>
            <div class="mb-3">
                <label for="inputDataDoPagamento" class="form-label">Data do Pagamento</label>
                <input type="text" class="form-control" id="inputDataDoPagamento" name="dataPagamento" th:field="*{dataPagamento}">
            </div>
            <div class="mb-3">
                <label for="inputObservacao" class="form-label">Observação</label>
                <input type="text" class="form-control" id="inputObservacao" name="observacao" th:field="*{observacao}">
            </div>
            <div class="mb-3 form-check">
                <label class="form-check-label" for="checkEstaVencido">Está vencido?</label>
                <input type="checkbox" class="form-check-input" id="checkEstaVencido" name="vencido" th:value="${vencido}">
            </div>
            <button type="submit" class="btn btn-success">

                    Salvar

            </button>
            <button type="submit" class="btn btn-danger">
                <a th:href="@{/}" class="btn-cancel">
                    Cancelar
                </a>
            </button>
        </form>
    </body>
</html>
